<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="corpo">
        <header>
            <nav>
                <a href="#">INICIO |</a>
                <a href="#">CADASTRO |</a>
                <a href="#">MOVIMENTAÇÃO</a>
            </nav>
        </header>    
        <div class="conteudo">
            {{area_dinamica}}
        </div>    
    </div>
</body>
</html>